---
import RootLayout from "@/ui/components/RootLayout.astro";

/**
 * This example shows the following authentication route:
 * - Client fetches statically rendered page
 * - Client fetches its `Session` from our API
 * - Client is redirected to the login page if its not authenticated
 * - Client uses `Graph` to fetch user information from the Graph API
 */
---

<RootLayout>
    <title slot="head">Client Side Example</title>

    <h1>Client Side Example</h1>

    <script>
        import { getClientGraph } from "@/graph/lib/get-client-graph";

        const forceLogin = () => {
            window.location.href = "/api/auth/login";
        }

        try {
            const response = await fetch("/api/auth/session");

            if (!response.ok) {
                throw new Error(`Failed to fetch user information. HttpCode: ${response.status}`, { cause: response });
            }

            const session = await response.json();

            console.info("Client Side Example", session);

            const accessToken = session.accessToken;

            if (!accessToken) {
                throw new Error("Failed to get access token.", { cause: session });
            }

            const graph = getClientGraph(accessToken);

            const user = await graph.me();

            if (!user) {
                throw new Error("Failed to get user information.", { cause: user });
            }

            console.info("Client Side Example", user);

            document.getElementById("displayName")!.textContent = user.displayName ?? "Unknown User";
        } catch (error) {
            console.error(error);
            forceLogin();
        }
    </script>

    <p>Hi <span id="displayName">Loading...</span>!</p>
</RootLayout>
