---
import RootLayout from "@/ui/components/RootLayout.astro";

/**
 * This example shows the following authentication route:
 * - Client fetches statically rendered page
 * - Client sends SSO token to server to get Graph Token
 * - Server exchanges SSO token for Graph Token
 * - Server responds with Graph Token
 * - Client uses `Graph` to fetch user information from the Graph API
 */
---

<RootLayout>
    <title slot="head">Minimal Client Side Example</title>

    <h1>Minimal Client Side Example</h1>

    <script>

    </script>

    <p>Hi <span id="displayName">Loading...</span>!</p>
</RootLayout>
