---
import RootLayout from "@/ui/components/RootLayout.astro";
---

<RootLayout>
    <title slot="head">Saxware Commands Example</title>

    <ul>
        <li><a href="/demo/server-side">Server Side Example</a></li>
        <li><a href="/demo/client-side">Client Side Example</a></li>
        <li><a href="/demo/minimal-client-side">Minimal Client Side Example</a></li>
    </ul>
</RootLayout>
