---
import RootLayout from "@/ui/components/RootLayout.astro";
---

<RootLayout>
    <title slot="head">Login</title>

    <h1>Login</h1>

    <p>Logging in...</p>

    <p>Hi <span id="displayName">Loading...</span>!</p>
</RootLayout>
