---
import RootLayout from "@/ui/components/RootLayout.astro";
---

<RootLayout>
    <title slot="head">Saxware Taskpane Example</title>

    <h1>Hi <span id="displayName">Loading...</span>!</h1>

    <script>
        import { authenticate } from "@/auth";
import { getClientGraph } from "@/graph/lib/get-client-graph";

        const session = await authenticate();

        const graph = getClientGraph(session.accessToken);
        const user = await graph.me();

        document.getElementById("displayName")!.textContent = user.displayName ?? "Unknown User";

        console.info("Taskpane Example", session);
    </script>
</RootLayout>
